server:
  port: 8484

spring:
  elasticsearch:
    uris: http://localhost:9200
    connection-timeout: 5s
    socket-timeout: 3s
  mail:
    host: smtp.gmail.com
    port: 587
    username: kh085748@gmail.com # 본인의 Gmail 주소
    password: srwkbjvlmiulwxnx
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  datasource:
    url: jdbc:mysql://localhost:3306/atom?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=UTF-8
    username: bts
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MySQL8Dialect

jwt:
  secret-key: WonderfulSecretKeyForJWTSigningAndParsingWithHMACSHA256
  expiration-time: 3600000 # 토큰 만료 시간 (1시간 = 3600000ms)